html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box; 
    font-family: 'Cuprum', Arial, sans-serif; 
    font-size: 17px;
    line-height: 1;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img { 
    max-width: 100%;
    height: auto;
}

/* ОБЩИЕ КЛАССЫ */
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
} 

.logo {
    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

.logo:hover, 
.logo:focus,
.logo:active  {
    background-color: #ca2c37;
}

.new::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    background-image: url("../img/new-flag.png");
}

/* ОБЩИЕ КЛАССЫ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ */
.red-link {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.red-link:hover, 
.red-link:focus {
    background-color: #ca2c37;
}

.red-link:active {
    background-color: #ba2732;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 24px;
    background-color: #f9f5f0;
}

.section-header h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* HEADER */
.main-header {
    padding-bottom: 47px;
    background-color: #f4f7f9;
}

.header-top {
    line-height: 18px;
    background-color: #293449;
}

.header-top .container {
    display: flex;
}

.header-logo {
    width: 220px;
    padding: 13px 55px 6px 55px;
}

.search-form {
    position: relative;
    width: 270px;
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    opacity: 0.3;	
}

.search-form:hover .search-icon {
    opacity: 1;
}

.search-input:focus + .search-icon  {
	opacity: 1;
}

.search-input:focus + .search-icon path {
    fill: #ee3643;
}

.search-input {
    padding: 12px 0 12px 49px;
    width: 100%;
    line-height: 18px;
    background-color: #293449;
    border: none;
}

.search-input::placeholder {
    color: #ffffff;
}

.search-input:hover {
    background-color: #212a3a;
}

.search-input:focus {
    color: #000000;
    background-color: #ffffff;
}

.user-link {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 150px;
    color: #ffffff;
}

.user-link:hover,
.user-link:focus {
    background-color: #212a3a;
}

.user-link:active {
    background-color: #161d29;
    opacity: 0.6;
}

.user-link::before {
    opacity: 0.3;
}

.user-link:focus::before,
.user-link:hover::before  {
	opacity: 1;
}

.user-link:active::before {
	opacity: 0.5;
}

.bookmarks {
    position: relative;
    padding-left: 44px;
}

.bookmarks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
}

.cart {
    position: relative;
    padding-left: 50px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
}

.order {
    padding-right: 22px;
    padding-left: 20px;
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #5fbb2d;
    opacity: 0.5;
}

.header-center {
    background-color: #f4f7f9;
}

.header-center .container {
    display: flex;
    margin-top: 46px;
    margin-bottom: 38px;
    padding-left: 62px;
}

.shop-info {
    margin-top: 4px;
    margin-bottom: 0;
    width: 197px;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
}

.header-contacts {
    margin-left: 71px;
    width: 270px;
}

.contacts-phone {
    position: relative;
    display: block;
    padding: 10px 48px 8px 71px;
    font-size: 21px;
    color: #e9292a;
    border: solid 3px #ffffff;
}

.contacts-phone::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    opacity: 0.3;
}

.contacts-address {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
}

/* ПОЛЬЗОВАТЕЛЬ НЕ ЗАЛОГИНИЛСЯ */
.profile-links-container {
    margin-left: 69px;
}

.profile-link {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
}

.profile-link:hover,
.profile-link:focus {
    color: #ee3643;
}

.profile-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.login {
    position: relative;
    margin-right: 5px;
    padding-left: 47px;
    padding-right: 26px;
}

.login::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.register {
    padding-left: 24px;
    padding-right: 24px;
}

/* ПОЛЬЗОВАТЕЛЬ ЗАЛОГИНИЛСЯ */
.profile-general a {
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
}

.profile-logged-links a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.profile-logged-links a:hover,
.profile-logged-links a:focus {
    color: #ee3643;
}

.profile-info a:active {
    opacity: 0.3;
}

/* ---- */

.header-navigation {
    color: #ffffff;
}

.header-navigation ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    background-color: #32425c;
    box-shadow: 0 5px #293449;
}

.header-navigation-item {
    flex-grow: 1;
}

.header-navigation-item a {
    display: block;
    padding: 20px 30px 19px 30px;
    text-align: center;
    color: #ffffff;
}

.header-navigation-item:first-child a {
    padding-left: 52px;
}

.header-navigation-item:last-child a {
	padding-right: 55px;
}

.header-navigation a:hover,
.header-navigation a:focus {
    background-color: #243147;
}

.header-navigation a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

/* ПРОМО */
.promo {
    margin-top: 60px;
}

.promo-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promo-column-container {
    display: flex;
    flex-direction: column;
}

.promo-column-container .promo-item {
    margin-top: 20px;
}

.promo-item {
    position: relative;
    width: 300px;
    padding-left: 23px;
    color: #ffffff;
}

.promo-item .title {
    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.promo-item a {
    display: block;
    width: 135px;
    margin-bottom: 21px;
    padding-top: 11px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px; 
}

.promo-item a:hover,
.promo-item a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

/* .promo-item.new::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    background-image: url("../img/new-flag.png");
    width: 88px;
    height: 27px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    background-color: #ff5357;
    clip-path: polygon(0 31px, 31px 0, 60px 0, 87px 27px);
    transform: rotate(45deg);  
} */

.materials {
    background-color: #ffbf47;
}

.materials::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 43px;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-materials.svg");
}

.instruments {
    background-color: #3bbce3;
}

.instruments::before {
    content: "";
    position: absolute;
    top: 33px;
    right: 28px;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-tool.svg");
}

.machinery {
    background-color: #dc91d8;
}

.machinery::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;
    width: 78px;
    height: 62px;
    background-image: url("../img/icon-machinery.svg");
}

.sale {
    background-color: #8ed78f;
}

.sale::before {
    content: "";
    position: absolute;
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;
    background-image: url("../img/icon-sale.svg");
}

.delivery {
    background-color: #ffc047;
}

.delivery::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;
    width: 78px;
    height: 63px;
    background-image: url("../img/icon-delivery.svg");
}

.slider {
    position: relative;
    display: flex;
    align-items: stretch;
    margin-top: 20px;
    width: 620px;
    color: #ffffff;
}

.slide {
    width: 100%;
    display: none;
    overflow: hidden;
    padding-left: 25px;
}

.slide.active {
    display: block;
}

.slide .title {
    margin-top: 23px;
    margin-bottom: 1px;
    font-size: 36px;
    text-transform: uppercase;
}

.slide p {
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
}

.slide-drills {
    background-image: url("../img/slide-drills.jpg");
    background-repeat: no-repeat;
    background-color: #695c54;
}

.slide-perforators {
    background-image: url("../img/slide-perforators.jpg");
    background-repeat: no-repeat;
    background-color: #a9a099;    
}

.slider-change {
    position: absolute;
    top: 114px;
    width: 22px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider-previous {
    left: 25px;
    background-image: url("../img/icon-slide-arrow.svg");
}

.slider-next {
    right: 20px;
    background-image: url("../img/icon-slide-arrow.svg");
    transform: rotate(180deg);
}

.slider .red-link {
    position: absolute;
    left: 25px;
    top: 206px;
    padding: 11px 45px 10px 49px;
}

/* ТОВАРЫ */
.popular-products {
    margin-top: 53px;
}

.index-products-list {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

.popular-products .red-link {
    padding: 10px 54px;
}

.product {
    position: relative;
    width: 220px;
    font-family: 'PT Sans', Arial, sans-serif; 
    font-weight: bold;
    text-align: center;
    border: solid 1px #eaeaea;
}

.product .title {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 18px;
    line-height: 20px;
}

.product p {
    line-height: 18px;
}

.old-price {
    margin-top: 11px;
    margin-bottom: 8px;
    min-height: 20px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.current-price {
    position: relative;
    width: 141px;
    margin: 8px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.current-price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.product-buttons {
    display: none;
    padding-top: 44px;
    min-height: 170px;
}

.product-buttons button {
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    width: 135px;
    font-family: 'Cuprum', Arial, sans-serif; 
    text-transform: uppercase;
    border-radius: 3px; 
    cursor: pointer;
}

.buy {
    color: #ffffff;
    background-color: #63a63e;
    border: none;
    border-bottom: 3px solid #367315;
}

.buy:hover,
.buy:focus {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
    border-bottom-color: #518534;
}

.bookmark {
    color: #32425c;
    background-color: #ffffff;
    border: solid 3px #63a63e; 
}

.bookmark:hover,
.bookmark:focus {
    border-color: #32425c;
}

.bookmark:active {
    opacity: 0.3;
}

.product:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product:hover .product-buttons {
    display: block;
}

.product:hover img {
    display: none;
}

/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ */
.popular-manufacturers {
    margin-top: 21px;
}

.manufacturers-list {
    display: flex;
    list-style: none;
}

.manufacturer {
    border: solid 1px #eaeaea;
}

.manufacturer:hover,
.manufacturer:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer:active img {
    opacity: 0.3;
}

/* СЕРВИСЫ */
.services {
    background-color: #f4f7f9;
}

.services h2 {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.services p {
    font-family: 'PT Sans', Arial, sans-serif; 
    font-size: 13px;
    line-height: 24px;
}

.services-slider {
    list-style: none;
}

.services-slider-button {
    width: 100%;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    background-color: #32425c;
    border: none;
    cursor: pointer;
}

.services-slider-button:hover,
.services-slider-button:focus {
    background-color: #293449;
}

.services-current-slide {
    color: #32425c;
    background-color: #ffffff;
}

.services-current-slide:hover,
.services-current-slide:focus {
    background-color: #ffffff;
}

.service-slide .title {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}

/* ОБЩИЕ СТИЛИ ДЛЯ ДЛЯ СЕКЦИЙ О КОМПАНИИ И КОНТАКТЫ */
.about h2,
.contacts h2 {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.about p,
.contacts p {
    font-family: 'PT Sans', Arial, sans-serif; 
    font-size: 13px;
    line-height: 24px;
}

/* О КОМПАНИИ */
.transport-companies {
    font-size: 18px;
    line-height: 20px;
    /* list-style-type: ; */
}

.popup-map {
    display: none;
}

/* КОНТАКТЫ */
.popup-contact-us {
    display: none;
}

/* FOOTER */
.main-footer {
    color: #ffffff;
    background-color: #32425c;
}

.main-footer ul {
    list-style: none;
}

.footer-nav {
    font-size: 18px;
    line-height: 24px;
}

.footer-nav a:hover,
.footer-nav a:focus {
    text-decoration: underline;
}

.footer-nav a:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-first-nav a {
    color: #ffffff;
}

.footer-second-nav a {
    color: #ffd180;
}

.footer-contacts {
    font-size: 18px;
    line-height: 24px;
}

.social a {
    background-color: #212a3a;
    border-radius: 50%;
}  

.social a {
    background-color: #212a3a;
    border-radius: 50%;
} 

.social a:hover,
.social a:focus,
.social a:active {
    background-color: #ee3643;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.contact-developer a,
.developed-by a {
    color: #ffd180;
}

/* СТРАНИЦА КАТАЛОГА */

.breadcrumbs,
.filter-products,
.sort-products,
.catalogue-pagination,
.about-product-type {
    font-family: 'PT Sans', Arial, sans-serif; 
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

/* ЗАГОЛОВОК СТРАНИИЦЫ */
.product-type {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
}

/* ФИЛЬТР */
.filter-products h2,
.sort-products h2 {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
}

.filter-products h2 {
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter-form legend {
    line-height: 30px;
    font-weight: bold;
}

.filter-form fieldset {
    border: none;
    border-bottom: solid 1px #c5c5c5;
}

.filter-form label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.price-field input {
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.price-min,
.price-max {
    line-height: 18px;
}

.filter-form input[type="submit"] {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}
 
/* СОРТИРОВКА */
.sort-products {
    background-color: #f7f3ec;
    border-radius: 3px;
}

.sort-by {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    border-bottom: dotted 1px #ee3643;
    opacity: 0.3;
}

.sort-by:hover,
.sort-by:focus {
    border-bottom: solid 1px #ee3643;
    opacity: 1;
}

.sorted {
    color: #ee3643;
    border-bottom: none;
    opacity: 1;
}

.sorted:hover,
.sorted:focus {
    border-bottom: none;
}

/* КАТАЛОГ: ТОВАРЫ*/
.added-to-cart-popup {
    display: none;
}

/* ПАГИНАЦИЯ */
.catalogue-pagination {
    list-style: none;
}

.page {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
}

.catalogue-pagination a:hover,
.catalogue-pagination a:focus {
    border-color: #bdc6ca;
}

.catalogue-pagination a:active {
    border-color: #ee3643;
}

.current-page {
    color: #ffffff;
    background-color: #ee3643;
    border-color: #ee3643;
}

.current-page:hover,
.current-page:focus,
.current-page:active {
    border-color: #ee3643;
}

/* ИНФОРМАЦИЯ О ТИПЕ ТОВАРА */
.about-product-type {
    background-color: #f4f7f9;
}


.about-product-type h2 {
    font-family: 'Cuprum', Arial, sans-serif; 
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.about-product-type p {
    font-size: 13px;
    line-height: 24px;
}