@keyframes change-slide {
    from {opacity: 0.8}
    to {opacity: 1}
}

html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box; 
    font-family: 'Cuprum', Arial, sans-serif; 
    font-size: 17px;
    line-height: 1;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img { 
    max-width: 100%;
    height: auto;
}

/* ОБЩИЕ КЛАССЫ */
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
} 

.logo {
    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

.logo:hover, 
.logo:focus,
.logo:active  {
    background-color: #ca2c37;
}

.new::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    background-image: url("../img/new-flag.png");
}

/* ОБЩИЕ КЛАССЫ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ */
.red-link {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.red-link:hover, 
.red-link:focus {
    background-color: #ca2c37;
}

.red-link:active {
    background-color: #ba2732;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 28px; 
    background-color: #f9f5f0;
}

.section-header h2 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* HEADER */
.main-header {
    padding-bottom: 47px;
    background-color: #f4f7f9;
}

.header-top {
    line-height: 18px;
    background-color: #293449;
}

.header-top .container {
    display: flex;
}

.header-logo {
    width: 220px;
    padding: 13px 55px 6px;
}

.search-form {
    position: relative;
    width: 270px;
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    opacity: 0.3;	
}

.search-form:hover .search-icon {
    opacity: 1;
}

.search-input:focus + .search-icon  {
	opacity: 1;
}

.search-input:focus + .search-icon path {
    fill: #ee3643;
}

.search-input {
    padding: 12px 0 12px 49px;
    width: 100%;
    line-height: 18px;
    background-color: #293449;
    border: none;
}

.search-input::placeholder {
    color: #ffffff;
}

.search-input:-ms-input-placeholder {
    color: #ffffff;
}

.search-input:hover {
    background-color: #212a3a;
}

.search-input:focus {
    color: #000000;
    background-color: #ffffff;
}

.user-link {
    padding: 12px 0;
    width: 150px;
    color: #ffffff;
}

.user-link:hover,
.user-link:focus {
    background-color: #212a3a;
}

.user-link:active {
    background-color: #161d29;
    opacity: 0.6;
}

.user-link::before {
    opacity: 0.3;
}

.user-link:focus::before,
.user-link:hover::before  {
	opacity: 1;
}

.user-link:active::before {
	opacity: 0.5;
}

.bookmarks {
    position: relative;
    padding-right: 10px;
    padding-left: 44px;
}

.bookmarks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
}

.cart {
    position: relative;
    padding-right: 10px;
    padding-left: 50px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
}

.not-empty {
    background-color: #ee3643;
}

.not-empty:hover,
.not-empty:focus {
    background-color: #ca2c37;
}

.not-empty:active {
    background-color: #ba2732;
}

.order {
    padding-right: 22px;
    padding-left: 20px;
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #5fbb2d;
    opacity: 0.5;
}

.header-center {
    background-color: #f4f7f9;
}

.header-center .container {
    display: flex;
    margin: 46px auto 38px;
    padding-left: 62px;
}

.shop-info {
    margin: 4px 0 0;
    width: 197px;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
}

.header-contacts {
    margin-left: 71px;
    width: 270px;
}

.contacts-phone {
    position: relative;
    display: block;
    padding: 10px 48px 8px 71px;
    font-size: 21px;
    color: #e9292a;
    border: solid 3px #ffffff;
}

.contacts-phone::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    opacity: 0.3;
}

.contacts-address {
    margin: 5px 0 0;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
}

/* ПОЛЬЗОВАТЕЛЬ НЕ ЗАЛОГИНИЛСЯ */
.profile-links-container {
    margin-left: 69px;
}

.profile-link {
    display: inline-block;
    padding: 12px 0;
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
}

.profile-link:hover,
.profile-link:focus {
    color: #ee3643;
}

.profile-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.login {
    position: relative;
    margin-right: 5px;
    padding-left: 47px;
    padding-right: 26px;
}

.login::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.register {
    padding-left: 24px;
    padding-right: 24px;
}

/* ПОЛЬЗОВАТЕЛЬ ЗАЛОГИНИЛСЯ */
.profile-info {
    margin-left: 51px;
}

.profile-info a:hover,
.profile-info a:focus {
    opacity: 1;
}

.profile-info a:active {
    color: #32425c;
    opacity: 0.3;
}

.profile-general {
    padding: 12px 10px 11px 13px;
    width: 299px;
    background-color: #ffffff;
}

.profile-general a {
    font-size: 21px;
    color: #000000;
}

.enter-profile {
    position: relative;
    margin-right: 27px;
    padding: 0 5px 0 34px;
}

.enter-profile::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 18px;
    background-image: url("../img/icon-user.svg");
    opacity: 0.3;
}

.enter-profile:hover::before,
.enter-profile:focus::before {
    opacity: 1;
}

.enter-profile:active::before {
    opacity: 0.3;
}

.logout {
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-logout.svg");
    opacity: 0.3;
}

.logout:hover,
.logout:focus {
    opacity: 1;
}

.profile-logged-links {
    margin: 8px 0 0 17px;
    max-width: 282px;
}

.profile-logged-links a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.profile-logged-links a::after {
    content: "";
    display: inline-block;
    margin: 0 9px 2px 15px;
    width: 4px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
}

.profile-logged-links a:last-child::after {
    display: none;
}

.profile-logged-links a:hover,
.profile-logged-links a:focus {
    color: #ee3643;
}

.profile-logged-links a:active {
    color: #32425c;
}

.profile-logged-links a:active::after {
    opacity: 1;
}

/* ---- */

.header-navigation {
    color: #ffffff;
}

.header-navigation ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    background-color: #32425c;
    box-shadow: 0 5px #293449;
}

.header-navigation-item {
    flex-grow: 1;
}

.header-navigation-item a {
    display: block;
    padding: 20px 30px 19px 30px;
    text-align: center;
    color: #ffffff;
}

.header-navigation-item:first-child a {
    padding-left: 52px;
}

.header-navigation-item:last-child a {
	padding-right: 55px;
}

.header-navigation a:hover,
.header-navigation a:focus {
    background-color: #243147;
}

.header-navigation a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

/* ПРОМО */
.promo {
    margin-top: 60px;
}

.promo-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promo-column-container {
    display: flex;
    flex-direction: column;
}

.promo-column-container .promo-item {
    margin-top: 20px;
}

.promo-item {
    position: relative;
    width: 300px;
    padding-left: 23px;
    color: #ffffff;
}

.promo-item .title {
    margin: 20px 0 13px;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.promo-item a {
    display: block;
    width: 135px;
    margin-bottom: 21px;
    padding: 11px 5px 10px;
    padding-top: 11px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px; 
}

.promo-item a:hover,
.promo-item a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.promo-item.materials {
    background-color: #ffbf47;
}

.promo-item.materials::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 43px;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-materials.svg");
}

.promo-item.instruments {
    background-color: #3bbce3;
}

.promo-item.instruments::before {
    content: "";
    position: absolute;
    top: 33px;
    right: 28px;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-tool.svg");
}

.promo-item.machinery {
    background-color: #dc91d8;
}

.promo-item.machinery::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;
    width: 78px;
    height: 62px;
    background-image: url("../img/icon-machinery.svg");
}

.promo-item.sale {
    background-color: #8ed78f;
}

.promo-item.sale::before {
    content: "";
    position: absolute;
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;
    background-image: url("../img/icon-sale.svg");
}

.promo-item.delivery {
    background-color: #ffc047;
}

.promo-item.delivery::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;
    width: 78px;
    height: 63px;
    background-image: url("../img/icon-delivery.svg");
}

.slider {
    position: relative;
    display: flex;
    align-items: stretch;
    margin-top: 20px;
    width: 620px;
    color: #ffffff;
}

.slide {
    width: 100%;
    display: none;
    overflow: hidden;
    padding-left: 25px;
    animation: change-slide 1s;
}

.slide.active {
    display: block;
}

.slide .title {
    margin: 23px 0 1px;
    font-size: 36px;
    text-transform: uppercase;
}

.slide p {
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
}

.slide-drills {
    background-image: url("../img/slide-drills.jpg");
    background-repeat: no-repeat;
    background-color: #695c54;
}

.slide-perforators {
    background-image: url("../img/slide-perforators.jpg");
    background-repeat: no-repeat;
    background-color: #a9a099;    
}

.slider-change {
    position: absolute;
    top: 114px;
    width: 22px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider-previous {
    left: 25px;
    background-image: url("../img/icon-right-arrow.svg");
    transform: rotate(180deg);
}

.slider-next {
    right: 20px;
    background-image: url("../img/icon-right-arrow.svg");
}

.slider-pagination {
    position: absolute;
    top: 220px;
    left: 297px;
}

.pagination-bullet {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.pagination-bullet.active::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    background-color: #ee3643;
    border-radius: 50%;
}

.slider .red-link {
    position: absolute;
    left: 25px;
    top: 206px;
    padding: 11px 45px 10px 49px;
}

/* ТОВАРЫ */
.popular-products {
    margin-top: 53px;
}

.popular-products .red-link {
    padding: 10px 54px;
}

.index-products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 19px;
}

.product {
    position: relative;
    margin-bottom: 21px;
    width: 220px;
    font-family: 'PT Sans', Arial, sans-serif; 
    font-weight: bold;
    text-align: center;
    border: solid 1px #eaeaea;
}

.product .title {
    margin: 5px 0 0;
    padding: 0 25px;
    font-size: 18px;
    line-height: 20px;
}

.product p {
    line-height: 18px;
}

.old-price {
    margin: 11px 0 8px;
    padding: 0 25px;
    min-height: 20px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.current-price {
    position: relative;
    width: 141px;
    margin: 8px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.current-price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.product-buttons {
    display: none;
    padding-top: 44px;
    min-height: 170px;
}

.product-buttons button {
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    width: 135px;
    font-family: 'Cuprum', Arial, sans-serif; 
    text-transform: uppercase;
    border-radius: 3px; 
    cursor: pointer;
}

.buy {
    color: #ffffff;
    background-color: #63a63e;
    border: none;
    border-bottom: 3px solid #367315;
}

.buy:hover,
.buy:focus {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
    border-bottom-color: #518534;
}

.bookmark {
    color: #32425c;
    background-color: #ffffff;
    border: solid 3px #63a63e; 
}

.bookmark:hover,
.bookmark:focus {
    border-color: #32425c;
}

.bookmark:active {
    opacity: 0.3;
}

.product:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product:hover .product-buttons {
    display: block;
}

.product:hover img {
    display: none;
}

/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ */
.popular-manufacturers .red-link {
    padding: 10px 69px;
}

.manufacturers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.manufacturer {
    margin-bottom: 20px;
    width: 220px;
    min-height: 145px;
    border: solid 1px #eaeaea;
}

.manufacturer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.manufacturer:hover,
.manufacturer:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer:active img {
    opacity: 0.3;
}

/* СЕРВИСЫ */
.services {
    margin-top: 67px;
    background-color: #f4f7f9;
}

.services .container {
    padding-top: 66px;
    padding-bottom: 86px;
}

.services h2 {
    margin: 0 0 26px;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.services p {
    font-family: 'PT Sans', Arial, sans-serif; 
    font-size: 13px;
    line-height: 24px;
}

.services-description {
    max-width: 400px;
    margin-bottom: 66px;
}

.services-container {
    display: flex;
    min-height: 200px;
}

.services-slider {
    position: relative;
    margin: 0 80px 0 0;
    padding-left: 0;
    list-style: none;
}

.services-slider::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: -46px;
    right: 0;
    width: 10px;
    height: 279px;
    background-image: url("../img/shadow.png");
}

.services-slider li {
    width: 240px;
}

.services-slider-button {
    padding: 16px 22px;
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
    text-align: left;
    background-color: #32425c;
    border: none;
    border-bottom: solid 1px #293449;
    cursor: pointer;
}

.services-slider-button:hover,
.services-slider-button:focus {
    background-color: #293449;
}

.services-slider-button.active {
    color: #32425c;
    background-color: #ffffff;
}

.service-slide {
    position: relative;
    display: none;
}

.service-slide::after {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
}

.service-slide.delivery::after {
    top: 24px;
    left: 151px;
    background-image: url("../img/delivery.png");
}

.service-slide.guarantee::after {
    top: 0;
    left: 239px;
    background-image: url("../img/guarantee.png");
}

.service-slide.credit::after {
    top: 0;
    left: 165px;
    background-image: url("../img/credit.png");
}

.service-slide.active {
    display: block;
}

.service-slide .title {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}

.delivery-text {
    width: 275px;
}

.credit-text {
    width: 279px;
}

.guarantee-text {
    width: 379px;
}

/* ОБЩИЕ СТИЛИ ДЛЯ ДЛЯ СЕКЦИЙ О КОМПАНИИ И КОНТАКТЫ */
.about-contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 78px;
    padding-bottom: 86px;
}

.about,
.contacts {
    min-height: 368px;
}

.about h2,
.contacts h2 {
    margin: 0 0 28px;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.about p,
.contacts p {
    margin-bottom: 24px;
    font-family: 'PT Sans', Arial, sans-serif; 
    font-size: 13px;
    line-height: 24px;
}


/* О КОМПАНИИ */
.about {
    margin-right: 120px;
    min-width: 519px;
}

.about p:last-of-type {
    margin-bottom: 20px;
}

.transport-companies {
    margin: 0 0 49px;
    padding-left: 36px;
    font-size: 18px;
    line-height: 20px;
    list-style: none; 
}

.transport-companies li {
    position: relative;
    margin-bottom: 20px;
}

.transport-companies li::before {
    position: absolute;
    content: "";
    top: 48%;
    left: -36px;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.about .red-link {
    padding: 11px 40px 10px 41px;
}

.popup-map {
    display: none;
}

/* КОНТАКТЫ */
.contacts p:first-of-type {
    margin-bottom: 29px;
    min-width: 179px;
}

.map {
    margin-bottom: 40px;
    padding: 0 0;
    border: none;
    cursor: pointer;
}

.contacts .red-link {
    width: 300px;
    padding: 10px 59px 10px 63px;
}

.popup-contact-us {
    display: none;
}

/* FOOTER */
.main-footer {
    color: #ffffff;
    background-color: #32425c;
}

.footer-top {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.footer-logo {
    margin-right: 167px;
    padding: 20px 41px 17px;
}

.footer-logo img {
    width: 138px;
	height: 23px;
}

.main-footer ul {
    list-style: none;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
    padding-left: 0;
    font-size: 18px;
    line-height: 24px;
}

.footer-nav li {
    margin-right: 60px;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav a:hover,
.footer-nav a:focus {
    text-decoration: underline;
}

.footer-nav a:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-first-nav {
    max-width: 553px;
}

.footer-first-nav a {
    color: #ffffff;
}

.footer-center {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0 49px;
}

.footer-contacts {
    margin: 0 89px 0 0;
    font-size: 18px;
    line-height: 24px;
}

.footer-second-nav {
    max-width: 530px;
}

.footer-second-nav a {
    color: #ffd180;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 37px;
    padding-bottom: 35px;
}

.footer-bottom p,
.footer-bottom ul {
    margin-top: 0;
    margin-bottom: 0;
}

.copyright {
    margin-right: 161px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    margin-right: 119px;
    padding-left: 0;
}

.social a {
    display: block;
    margin-left: 3px;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}  

.social li:last-child {
    margin-left: 0px;
}  

.social a:hover,
.social a:focus,
.social a:active {
    background-color: #ee3643;
}

.vk {
    background: url("../img/icon-vk.svg") no-repeat center;
}

.facebook {
    background: url("../img/icon-fb.svg") no-repeat center;
}

.instagram {
    background: url("../img/icon-insta.svg") no-repeat center;
}

.contact-developer {
    margin-right: 53px;
}

.contact-developer a,
.developed-by a {
    color: #ffd180;
}

.contact-developer a:hover,
.developed-by a:hover {
    text-decoration: underline;
}

.contact-developer a:active,
.developed-by a:active {
    text-decoration: none;
    color: #ee3643;
}

/* СТРАНИЦА КАТАЛОГА */

.breadcrumbs,
.filter-products,
.sort-products,
.catalogue-pagination,
.about-product-type {
    font-family: 'PT Sans', Arial, sans-serif; 
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 21px 0 20px;
    padding-left: 0;
    list-style: none;
}

.breadcrumbs-item:first-child a {
    display: inline-block;
    vertical-align: baseline;
    width: 14px;
    height: 12px;
    background: url("../img/icon-home.svg") no-repeat;
}

.breadcrumbs-item::after {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin: 0 17px;
    width: 8px;
    height: 12px;
    background: url("../img/icon-right-small.svg") no-repeat;
}

.breadcrumbs-item:last-child::after {
    display: none;
}

.breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

/* ЗАГОЛОВОК СТРАНИИЦЫ */
.product-type {
    margin-bottom: 20px;
    padding: 30px 0 28px 28px;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
}

.catalogue-flex-container {
    display: flex;
}

.catalogue-right {
    width: 700px;
}

/* ФИЛЬТР */
.filter-products {
    margin-right: 20px;
    width: 220px;
    flex-grow: 0;
    flex-shrink: 0;
}

.filter-products h2,
.sort-products h2 {
    margin-top: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
}

.filter-products h2 {
    padding: 10px 5px 10px 19px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter-form legend {
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-form fieldset {
    padding: 0 0;
    border: none;
    border-bottom: solid 1px #c5c5c5;
}

.filter-form fieldset:last-of-type {
    border: none;
}

.filter-form label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.price-field {
    margin-bottom: 16px;
}

.price-field legend {
    margin-bottom: 13px;
}

.price-range {
    -webkit-appearance: none;  
    appearance: none;
    margin-bottom: 9px;
    padding: 30px 20px;
    width: 100%;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.price-field input[type="text"] {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    width: 95px;
    min-height: 38px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.price-min,
.price-max {
    line-height: 18px;
}

.price-dash {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 1px 0;
}

.manufacturers-field,
.power-field {
    display: flex;
    flex-direction: column;
}

.manufacturers-field {
    margin-bottom: 16px;
}

.manufacturers-field legend {
    margin: 16px 0 13px;
}

.manufacturer-checkbox,
.power-radio {
    position: absolute;
    opacity: 0;
}

.manufacturer-label {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    cursor: pointer;
}

.manufacturer-label:last-child {
    margin-bottom: 21px;
}

.checkmark {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    width: 23px;
    height: 23px;
    border: solid 2px #000000;
    border-radius: 3px;
    opacity: 0.3;
    cursor: pointer;
}

.manufacturer-checkbox:checked ~ .checkmark {
    margin-right: 8px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.svg");
    border: none;
    opacity: 0.3;
}

.maufacturer-label:hover .checkmark {
    opacity: 0.5;
}

.power-field legend {
    margin: 16px 0 12px;
}

.power-label {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}

.power-label:last-child {
    margin-bottom: 0;
}

.radiomark {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: solid 4px #000000;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
}

.radiomark::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 9px;
    height: 9px;
    background-color: #000000;
    border: solid 1px #000000;
    border-radius: 50%;
    cursor: pointer;
}

.power-radio:checked ~ .radiomark::after {
    display: block;
}

.power-label:hover .radiomark {
    opacity: 0.5;
}

.filter-form input[type="submit"] {
    margin-top: 75px;
    padding: 8px 5px;
    width: 140px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}
 
/* СОРТИРОВКА */
.sort-products {
    display: flex;
    padding: 10px 14px 10px 19px;
    margin-bottom: 20px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.sort-products h2 {
    margin: 0 139px 0 0;
}

.sort-type {
    margin: 0 46px 0 0;
}

.sort-by {
    margin-right: 65px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    border-bottom: dotted 1px #ee3643;
    opacity: 0.3;
}

.sort-by:last-child {
    margin-right: 0;
}

.sort-by:hover,
.sort-by:focus {
    border-bottom: solid 1px #ee3643;
    opacity: 1;
}

.sort-by.active {
    color: #ee3643;
    border-bottom: none;
    opacity: 1;
}

.sort-by.active:hover,
.sort-by.active:focus {
    border-bottom: none;
}

.sort-direction a {
    display: inline-block;
    width: 11px;
    height: 10px;
}

.sorted > .sort-svg path {
    fill: #ee3643;
}

.ascending {
    margin-right: 16px;
}

.descending > .sort-svg {
    transform: rotate(180deg);
}

/* КАТАЛОГ: ТОВАРЫ*/
.catalogue-products-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 32px;
}

.added-to-cart-popup {
    display: none;
}

/* ПАГИНАЦИЯ */
.catalogue-pagination {
    display: flex;
    margin: 20px 0 58px;
    padding: 0;
    list-style: none;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 38px;
    height: 38px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
}

.next {
    margin-right: 0;
    width: 140px;
}

.catalogue-pagination a:hover,
.catalogue-pagination a:focus {
    border-color: #bdc6ca;
}

.catalogue-pagination a:active {
    border-color: #ee3643;
}

.current-page {
    color: #ffffff;
    background-color: #ee3643;
    border-color: #ee3643;
}

.current-page:hover,
.current-page:focus,
.current-page:active {
    border-color: #ee3643;
}

/* ИНФОРМАЦИЯ О ТИПЕ ТОВАРА */
.about-product-type {
    padding: 67px 0 68px;
    background-color: #f4f7f9;
}

.about-product-type h2 {
    margin: 0 0 25px;
    font-family: 'Cuprum', Arial, sans-serif; 
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.about-product-type p {
    margin: 0 0 0;
    font-size: 13px;
    line-height: 24px;
}